/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}


.button-raised{

    -fx-text-fill: WHITE;
}
.panel{


}

.jfxbutton{
    -fx-text-fill: #EEEEEE;
    -fx-prompt-text-fill: #EEEEEE;
    -fx-font-size: 12px
}

.jfxbuttonEnf{
    -fx-text-fill: #03847B;
    -jfx-focus-color:#3CB15B;
    -fx-font-size: 12px
}
